/* --------------- Верхняя панель --------------- */
.dashboardheader {
    background-color: #b1f699;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #54ad2e;
    flex-wrap: wrap;
}

/* Левая часть (профиль и выход) */
.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

/* Правая часть (инструменты) */
.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.header-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #dfffdc;
    border: 1px solid #83cc78;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none; /*Убираем подчеркнутость ссылки*/
    color: #333;
    transition: background-color 0.2s;
}

.header-button:hover {
    background-color: #a4f0a1;
    transform: scale(1.02); /* слегка увеличится */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Добавление тени */
}


.header-button img,
.icon {
    width: 28px;
    height: 28px;
    object-fit: contain; /*Помогает вписываться в контейнер*/
    cursor: pointer;
}

/* --------------- Оснавная панель --------------- */
.dashboardmain-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

/* Каждая колонка */
.column-block {
    flex: 1;
    min-width: 350px;
    max-width: 50%;
}

/* Заголовок и фильтрация */
/* Заголовки секций */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

/* Для иконки категорий и компонент сортировки */
.filter-bar {
    display: flex;
    align-items: center;
    gap: 15px; /* расстояние между иконкой и сортировкой */
    margin-bottom: 10px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    min-width: 150px;
    z-index: 100;
    display: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.dropdown-menu a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.dropdown-empty {
    display: block;
    padding: 8px 12px;
    color: #999;
    font-style: italic;
}

/* Сетка карточек: перенос и вертикаль */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    min-width: 200px;
    height: 200px;
    background-color: #93df89;
    border: 1px solid #338d23;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    background-color: #aef5a3;
    transform: scale(1.02);
}

