/* Верхняя панель */
.dashboardheader {
    background-color: #b1f699;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid #54ad2e;
}

/* Основная часть */
.scroll-container {
    overflow-x: auto; /* Разрешаем горизонтальную прокрутку */
    white-space: nowrap; /* Карточки не переносятся на новую строку */
    padding: 10px;

}

.cards {
    display: inline-flex; /* Карточки располагаются в строку */
    gap: 10px;
}

.card {
    min-width: 200px; /* Фиксированная ширина карточки */
    height: 150px;
    background-color: #93df89;
    border: 1px solid #338d23;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

