.form-container {
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .task-fields {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .task-texts,
  .task-images {
    flex: 1;
    min-width: 300px;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  }

  .form-group {
    margin-bottom: 20px;
  }

  .task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .image-preview-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .image-preview-card img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }

  .custom-select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #e81414;
    border-radius: 8px;
    background-color: #fff6f6;
    font-size: 16px;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 140 140' width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23666' d='M70 95L20 45h100z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
  }

  .task-delete-image {
    display: flex;
    margin-left: auto;
    width: 50%;
  }

  /* ---------- Кнопки ---------- */

  .task-btn-base {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s, transform 0.2s;
    cursor: pointer;

    img {
      width: 28px;
      height: 28px;
      object-fit: contain;
    }

    &.task-btn--default {
      background-color: #dfffdc;
      border: 1px solid #83cc78;

      &:hover {
        background-color: #a4f0a1;
        transform: scale(1.02);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      }
    }

    &.task-btn--delete {
      background-color: #efacac;
      border: 1px solid #e81414;

      &:hover {
        background-color: #e81414;
        transform: scale(1.02);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      }
    }
  }

}
